<br/>
<div  fxLayout="row" fxLayoutAlign="center">
<div fxFlex=66 fxFlexFill fxLayout="column" fxLayoutAlign="center">

<mat-card>
    <mat-card-title>
        <mat-panel-title>
        <h3>Datos de compra</h3>
        </mat-panel-title>
    </mat-card-title>
    <div fxLayout="column" fxLayoutAlign="center">
        <mat-form-field><input matInput type="text" placeholder="Compañía" [(ngModel)]="operacion.compania" name="compania"/></mat-form-field>    
        <mat-form-field><input matInput type="text" placeholder="Número de acciones" [(ngModel)]="operacion.n_acciones" name="n_acciones"/></mat-form-field>
        <mat-form-field><label matInput type="text" name="i_total">Importe total: {{operacion.i_total | number:'.2-2'}}€</label></mat-form-field>
        <mat-form-field><label matInput type="text" name="fecha">Fecha de la operación: {{reloj | date:'yyyy-MM-dd HH:mm:ss'}}</label></mat-form-field>
        <!--mat-form-field>
            <mat-label>Tipo</mat-label>
            <mat-select [(ngModel)]="contacto.tipo" name="tipo">
                <mat-option *ngFor="let tipo of getTipos();let i=index" [value]="i">
                {{tipo}}
                </mat-option>
            </mat-select>
        </mat-form-field-->
    </div>
</mat-card>

<div  fxLayout="row" style="margin-top:50px;">
    <div fxFlex fxLayoutAlign="center">
        <button (click)="aceptar()" mat-flat-button color="primary">Comprar</button>
    </div>
    <div fxFlex fxLayoutAlign="center">
        <button (click)="cancelar()" mat-flat-button color="primary">Cancelar</button>
    </div>
</div>

</div>
</div>
